@import "https://fonts.google.com/specimen/Outfit";
body{
  background-color: hsl(217, 54%, 11%);
  font-family: 'Outfit';
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  font-size: 12px;
  color: hsl(215, 51%, 70%);
  margin: 15px 0;
}

h1{
  color: white;
  margin: 15px 0;
  font-weight:600;
  font-size: 14px;
}

hr {
  color: hsl(215, 51%, 70%);
  width: 100%;
  height: 1px;
  /* border: None; */
  margin 10px 0;
}

a {
  color: white;
  margin-left: 6px;
  text-decoration: none;
}
a:hover , h1:hover, .equilibrium:hover{
  color:hsl(178, 100%, 50%);
  transition: color 0.2s ease-in-out;
}

.main_container {
  background-color: hsl(216, 50%, 16%);
  height: 290px;
  width: 150px;
  margin: 20% auto;
  border-radius: 5%;
  padding: 10px;
  text-align: left;
  /* position: relative; */
}


/*
.inner-container span img {
    width: 50px;
    height: 50px;
} */


/*
.main-container span {
    background-color: hsl(178, 100%, 50%);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 325px;
	display: flex;
	opacity: 0;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	transition: all 0.3s ease-in-out;
} */

.inner_container {
  background-color: hsl(215, 32%, 27%);
  margin: auto;
  height: 150px;
  width: 150px;
  border-radius: 5%;
}

.eye-icon{
  width: 20px;
  height: 20px;
}

.view{
  margin: auto;
  transform: translate(0%, -100%);
  opacity: 0;
  height: 150px;
  width: 150px;
  background-color: hsl(178, 100%, 50%);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view:hover{
  opacity: 65%;
  transition: all 0.2s ease-in-out;
}

.equilibrium{
  height: 150px;
  width: 150px;
}

.ethereum_div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ethereum{
  font-weight: 400;
  font-size: 10px;
  font-weight: 300;
  color: hsl(178, 100%, 50%);
  display: flex;
}
.icon_ethereum{
  height:10px;
  width: 8px;
  margin-right: 4px;
}
.clock{
  font-weight: 300;
  display: flex;
  font-size: 10px;
  color: hsl(215, 51%, 70%);
}
.icon_clock{
  height:10px;
  width: 10px;
  margin: auto 4px auto 35px;
}

.footer{
  font-size: 10px;
  color: hsl(215, 51%, 70%);
  display: flex;
  align-items: center;
  text-align: right;
}

.para_footer{
  display: flex;
  align-items: center;
}

.avatar {
  width: 18px;
  margin-right: 10px;
  border: 1px solid White;
  border-radius: 100%;
}
